* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body { 
  width: 100%;
  height: 100vh;
  background-color: #000;
  font-family: "Poppins", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  border-bottom: 1px solid #9d9a9a;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

/* ---- LOGO ---- */
.logo > img {
  width: 150px;
}

/* ---- NAV MENU ---- */
nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #b300ff;
}

/* ---- RIGHT SIDE ---- */
.right-head {
  display: flex;
  align-items: center;
  gap: 15px;
}

.right-head i {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.right-head i:hover {
  color: #b300ff;
}

.right-head button {
  background: #6a00ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.right-head button:hover {
  background: #b300ff;
}

#docuemnt-sec {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 444px 1fr;
    padding-top: 40px;
    color: white;
}

/* LEFT SIDEBAR */
.left-doc {
    padding: 10px 0px;
    border: 1px solid #262626;
    min-height: 40vh;
    border-radius: 20px;
    margin-left: 10px;
}

.left-doc h3 {
    font-size: 20px;
    margin-bottom: 10px;
    padding:  0 29px;
    margin-top: 13px;
}

.left-doc p {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 20px;
    padding : 0px 29px;

}

.doc-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding : 0px 25px ;
}

.doc-menu li {
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s;
}
.doc-menu li a{
  text-decoration: none;
  color: white;
}

.doc-menu li:hover {
    background-color: rgba(255,255,255,0.1);
}

.doc-menu .active {
    background-color: #6a00ff;
}

/* RIGHT CONTENT AREA */
.right-doc {
    padding: 10px 40px;
}

/* GRID SYSTEM */
.grid-box {
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    gap: 25px;
}

.grid-item {
    background: none;
    border: 1px solid #262626;
    padding: 25px;
    border-radius: 10px;
}

.grid-item > p{
    color: #9D9A9A;
    padding: 15px 0px;
}

.grid-item > h5 {
    margin-bottom: 15px;
}

.grid-item > span{
font-weight: 400;
}


.grid-item.full {
    grid-column: span 2;
}


.right-heading > h4{
    margin-bottom: 13px;
}

.right-heading > p {
    margin-bottom: 17px;
    color: #9D9A9A;
}



footer {
  width: 100%;
  background-color: #0d0d0d;
  /* display: flex; */
  /* align-items: center; */
  margin-top: 70px;
}

.foot-heading {
  text-align: center;
  padding: 80px;
}

.foot-heading h3 {
  font-size: 31px;
}

.foot-heading > p {
  font-size: 11px;
  color: #a3a1a1;
}

.foot-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 18px;
}

.foot-btn > .f-btn1,
.f-btn2 {
      background: #131313;
    border: none;
    box-shadow: none;
    /* display: none; */
    padding: 15px;
    border-radius: 18px;
    color: white;
    margin-left: 15px;
}

.foot-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 410px;
}

.social-icon > a {
  border: 1px solid #d0daf5;
  padding: 7px;
  border-radius: 50%;
  margin-left: 8px;
  color: white;
}

.nameplate {
  color: #ccc;
  font-size: 10px;
  margin-left: 15px;
}
